<div class="content">
  <img id="close" (click)="closeModal()" src="/assets/icons/x.svg" />
  <div class="card">
    <img id="profile-pic" src="{{ info.img }}" />
    <div class="info">
      <div class="title">{{ info.name }}</div>
      <div class="description">{{ info.description }}</div>
      <div class="icons">
        <div class="categories" *ngFor="let item of info.categories">
          <img src="{{ item.slug }}" alt="" />
          <p>{{ item.name }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
